<a href="https://colab.research.google.com/github/Guhenriquetorres/An-lise_Dados_Enem_2021/blob/main/Conex%C3%A3o_com_o_banco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install psycopg2
!pip install pandas
import psycopg2 as db
import csv
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.10/dist-packages (2.9.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
conn = db.connect(
    host="18.224.151.110",
    database="HMDC493_2023_1_Enem",
    user="2122120012_Gustavo",
    password="2122120012_Gustavo"
)
print(conn)

OperationalError: ignored

In [ ]:
class Config:
  def __init__(self):
    self.config= { "postgresC":{
    "host":"18.224.151.110",
    "database":"HMDC493_2023_1_Enem",
    "user":"2122120012_Gustavo",
    "password":"2122120012_Gustavo"
    }}

In [ ]:
cur = conn.cursor()
cur.execute("ROLLBACK")
conn.commit()

In [ ]:
acess ='''
GRANT ALL ON SCHEMA IF EXISTS AMENDOIM TO "2122120012_Gustavo";
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA testes to 
  2122120006_Luis
  2122120002_Lucas
  2122120013_Arthur
  2212120022_Lucas
  2212120027_Luca;
'''

In [ ]:
DROPS = '''
  DROP TABLE IF EXISTS DADOS_ENEM_DF.aluno_notas;
  DROP TABLE IF EXISTS DADOS_ENEM_DF.cor_raca;
  DROP TABLE IF EXISTS DADOS_ENEM_DF.faixa_etaria;
  DROP TABLE IF EXISTS DADOS_ENEM_DF.municipio_esc;
  DROP TABLE IF EXISTS DADOS_ENEM_DF.municipio_prova;
  DROP TABLE IF EXISTS DADOS_ENEM_DF.uf_esc;
  DROP TABLE IF EXISTS DADOS_ENEM_DF.uf_prova;
  DROP TABLE IF EXISTS DADOS_ENEM_DF.candidatos;
  '''
cur.execute(DROPS)

In [ ]:
CR_ESCHEMA ='''DROP SCHEMA IF EXISTS DADOS_ENEM_DF;'''
cur.execute(CR_ESCHEMA)
conn.commit()

In [ ]:
c = '''
  CREATE SCHEMA DADOS_ENEM_DF;'''
cur.execute(c)

In [ ]:
cod = '''
  DROP TABLE IF EXISTS DADOS_ENEM_DF.aluno_notas;
  DROP TABLE IF EXISTS DADOS_ENEM_DF.cor_raca;
  DROP TABLE IF EXISTS DADOS_ENEM_DF.faixa_etaria;
  DROP TABLE IF EXISTS DADOS_ENEM_DF.municipio_esc;
  DROP TABLE IF EXISTS DADOS_ENEM_DF.municipio_prova;
  DROP TABLE IF EXISTS DADOS_ENEM_DF.uf_esc;
  DROP TABLE IF EXISTS DADOS_ENEM_DF.uf_prova;
  DROP TABLE IF EXISTS DADOS_ENEM_DF.candidatos;

  DROP SCHEMA IF EXISTS DADOS_ENEM_DF;
  CREATE SCHEMA DADOS_ENEM_DF;

  CREATE TABLE IF NOT EXISTS DADOS_ENEM_DF.aluno_notas (
    nu_inscricao int4 NOT NULL,
    nu_nota_cn int4 NULL,
    nu_nota_ch int4 NULL,
    nu_nota_lc int4 NULL,
    nu_nota_mt int4 NULL,
    nu_nota_redacao int4 NULL,
    CONSTRAINT aluno_notas_pkey PRIMARY KEY (nu_inscricao)
  );

  CREATE TABLE IF NOT EXISTS DADOS_ENEM_DF.cor_raca (
	  tp_cor_raca int4 NULL
  );

  CREATE TABLE IF NOT EXISTS DADOS_ENEM_DF.faixa_etaria (
	  tp_faixa_etaria int4 NULL
  );

  CREATE TABLE IF NOT EXISTS DADOS_ENEM_DF.municipio_esc (
	  co_municipio_esc int4 NOT NULL,
	  no_municipio_esc varchar(150) NOT NULL,
	  CONSTRAINT municipio_esc_pkey PRIMARY KEY (co_municipio_esc)
  );

  CREATE TABLE IF NOT EXISTS DADOS_ENEM_DF.municipio_prova (
	  co_municipio_prova int4 NOT NULL,
	  no_municipio_prova varchar(150) NOT NULL,
	  CONSTRAINT municipio_prova_pkey PRIMARY KEY (co_municipio_prova)
  );

  CREATE TABLE IF NOT EXISTS DADOS_ENEM_DF.uf_esc (
	  co_uf_esc int4 NULL,
	  st_uf_esc varchar(2) NULL,
	  sg_uf_esc varchar(50) NULL
  );

  CREATE TABLE IF NOT EXISTS DADOS_ENEM_DF.uf_prova (
	  co_uf_prova int4 NOT NULL,
	  st_uf_prova varchar(2) NOT NULL,
	  CONSTRAINT uf_prova_pkey PRIMARY KEY (co_uf_prova)
  );

  CREATE TABLE IF NOT EXISTS DADOS_ENEM_DF.candidatos (
	  nu_inscricao int8 NOT NULL,
	  nu_ano int4 NOT NULL,
	  tp_sexo varchar(1) NOT NULL,
	  tp_estado_civil int4 NULL,
	  tp_nacionalidade int4 NULL,
	  tp_st_conclusao int4 NULL,
	  tp_ano_concluiu int4 NULL,
	  tp_escola int4 NULL,
	  tp_ensino int4 NULL,
	  in_treineiro int4 NULL,
	  cod_faixa_etaria int4 NULL,
	  cod_cor_raca int4 NULL,
	  cod_uf_esc int4 NULL,
	  cod_municipio_esc int4 NULL,
	  cod_uf_prova int4 NULL,
	  cod_municipio_prova int4 NULL,
	  CONSTRAINT candidatos_pkey PRIMARY KEY (nu_inscricao)
);
  '''
cur.execute(cod)
conn.commit()
conn.close()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
Enem_dados = pd.read_csv('/content/drive/MyDrive/MICRODADOS_ENEM_2021.csv', sep = ';', encoding = 'Windows-1252')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
colunas_desejadas = ['NU_INSCRICAO', 'NU_ANO', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO']
prova = Enem_dados.loc[:, colunas_desejadas]
prova.head()

In [ ]:
Enem_dadosf = Enem_dados.drop(['Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025','TX_GABARITO_CH',	'TX_GABARITO_LC',	'TX_GABARITO_MT',	'TP_STATUS_REDACAO',	'NU_NOTA_COMP1',	'NU_NOTA_COMP2',	'NU_NOTA_COMP3',	'NU_NOTA_COMP4',	'NU_NOTA_COMP5', 'TX_RESPOSTAS_CN',	'TX_RESPOSTAS_CH',	'TX_RESPOSTAS_LC',	'TX_RESPOSTAS_MT',	'TP_LINGUA',	'TX_GABARITO_CN', 'CO_PROVA_CN',	'CO_PROVA_CH',	'CO_PROVA_LC',	'CO_PROVA_MT', 'TP_PRESENCA_CN',	'TP_PRESENCA_CH',	'TP_PRESENCA_LC',	'TP_PRESENCA_MT'], axis=1)
Enem_dadosf.to_csv('Base_Limpa.csv')
colunas_desejadas = ['NU_INSCRICAO', 'NU_ANO', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO']
TCandidatos = Enem_dadosf.loc[:, colunas_desejadas]
TCandidatos.head()

In [ ]:
import csv
from ast import main

class Connection(Config):
    def __init__(self):
        Config.__init__(self)
        try:
            self.conn = db.connect(**self.config["postgresC"])
            self.cur = self.conn.cursor()
        except Exception as e:
            print("erro na conex√£o", e)
            exit(1)

    def __enter__(self):
        return self

    def __exit__(self, exc_type, exc_val, exc_tb):
        self.commit()
        self.connection.close()

    @property
    def Connection(self):
        return self.conn

    @property
    def cusor(self):
        return self.cur

    def commit(self):
        self.connection.commit()

    def fetchall(self):
        return self.cursor.fetchall()

    def execute(self, sql, params=None):
        self.cursor.execute(sql, params or ())

    def query(self, sql, params=None):
        self.cursor.execute(sql, params or ())
        return self.fetchall()


class candidatos(Connection):
    def __init__(self):
        Connection.__init__(self)

    def insert(self, *args):
        try:
            sql = "INSERT INTO candidatos (nu_inscricao, nu_ano, tp_sexo, tp_estado_civil, tp_nacionalidade, tp_st_conclusao, tp_ano_concluiu, tp_escola, tp_ensino, in_treineiro) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)" 
            self.execute(sql, args)
            self.commit()
        except Exception as e:
            print("erro ao inserir", e)
    
    def insert_csv(self, filename):
        try:
            with open(filename, 'r', encoding='Windows-1252') as file:
                data = csv.DictReader(file)
                for row in data:
                    self.insert(
                        row['NU_INSCRICAO'],
                        row['NU_ANO'],
                        row['TP_SEXO'],
                        row['TP_ESTADO_CIVIL'],
                        row['TP_NACIONALIDADE'],
                        row['TP_ST_CONCLUSAO'],
                        row['TP_ANO_CONCLUIU'],
                        row['TP_ESCOLA'],
                        row['TP_ENSINO'],
                        row['IN_TREINEIRO']
                    )
        except Exception as e:
            print("erro ao inserir", e)
          

if "__NU_INSCRICAO__" == "__main__":
    candidatos = candidatos()
    candidatos.insert_csv("/content/drive/MyDrive/MICRODADOS_ENEM_2021.csv")

insertcandidatosinsert = "INSERT INTO candidatos (nu_inscricao, nu_ano, tp_sexo, tp_estado_civil, tp_nacionalidade, tp_st_conclusao, tp_ano_concluiu, tp_escola, tp_ensino, in_treineiro) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
cur.executemany(insertcandidatosinsert, colunas_desejadas)
conn.commit()

NameError: ignored

In [ ]:
insertcandidatosinsert = "INSERT INTO candidatos (nu_inscricao, nu_ano, tp_sexo, tp_estado_civil, tp_nacionalidade, tp_st_conclusao, tp_ano_concluiu, tp_escola, tp_ensino, in_treineiro) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
cur.executemany(insertcandidatosinsert, colunas_desejadas)
conn.commit()

InterfaceError: ignored

NameError: ignored

In [ ]:
insertcandidatosinsert2 = "INSERT INTO candidatos (nu_inscricao, nu_ano, tp_sexo, tp_estado_civil, tp_nacionalidade, tp_st_conclusao, tp_ano_concluiu, tp_escola, tp_ensino, in_treineiro, cod_faixa_etaria, cod_cor_raca, cod_uf_esc, cod_municipio_esc, cod_uf_prova, cod_municipio_prova) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
cur.executemany(insertcandidatosinsert2, TCandidatos)
conn.commit()

InterfaceError: ignored

In [ ]:
colunas_desejadas = ['NU_INSCRICAO', 'NU_ANO', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO']

# Comando SQL INSERT
insert = f"INSERT INTO candidatos ({', '.join(colunas_desejadas)}) VALUES ({', '.join(['%s'] * len(colunas_desejadas))})"